@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
body{
	background: #f5f6f9;
	font-family: 'Roboto', sans-serif;
}
img{
	max-width: 100%;
	display: inline-block;
}
a,a:hover{
	text-decoration: none;
	color: #333;
}
.container{
	/*width: 1560px;
	max-width: 100%;*/
}
.header{
	padding-top:25px;
	padding-bottom: 25px;
	border-bottom: 2px solid #faaf3a;
}
.user{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	overflow:hidden;
}
.tab-pane.fade{
	display: none;
}
.tab-pane.fade.show{
	display: block;
}
.dashb-sarvice{
	width: 100%;
	height: 130px;
	border-radius: 20px;
	overflow:hidden;
	color: #fff;
	background-position: center center;
	background-size: cover;
	position: relative;
}
.dashb-sarvice:before{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgb(0 0 0 / 40%);	
	transition: all 0.5s;
}
.dashb-sarvice:hover::before{
	background-color: rgb(0 0 0 / 25%);
	transition: all 0.5s;
}
.dashb-sarvice h3{
	font-size: 27px;
	z-index: 999;
	text-decoration: none;
	text-align: center;
  font-weight: 600;
}

.tabNav {
    width: 700px;
    margin:25px auto;
    max-width: 100%;
}
.nav-tabs .nav-link{
    border: none;
    background: transparent;
    border-right: 1px solid #faaf3a;
    border-radius: 0;
    text-align: left;
    padding-left: 35px;
    position: relative;
    font-size: 16px;
    color: #b3b3b3;
}
.nav-tabs .nav-link:last-child{
	border-right: none !important;
}
.nav-tabs .nav-link.active:before{
	content: '';
	position: absolute;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #34c395;
	left: 10px;
	top: 12px;
}
.nav-tabs .nav-link.active,.nav-tabs .nav-link:hover{
	border: none;
	background: transparent;
    border-right: 1px solid #faaf3a;
    color: #000;
}
.nav-tabs {
    border: none;
}
.surveysTab {width: 300px;margin: auto;}
.surveylist {
    padding: 10px 10px 10px 60px;
    border: 1px solid #7893cb;
    border-radius: 20px;
    margin-bottom: 20px;
    background-size: 34px;
    background-position: 11px 34px;
}
.surveylist h3{
	color: #4d4d4d;
	font-size: 20px;
	font-weight: bold;
}
.surveylist p{
	color: #4d4d4d;
	font-size: 16px;
	font-weight: 300;
	font-style: italic;
}
.media-idashh img{
	width: 100px;
	height: 100px;
}
.media-idashh h5{
	color: #4d4d4d;
	font-size: 23px;
	font-weight: bold;
}
.bg1 {
    background: rgb(63 164 64 / 20%);
}
.bg2 {
    background: rgb(222 221 223 / 20%);
}
.bg3 {
    background: rgb(246 162 32 / 20%);
}
.bg4 {
    background: rgb(142 64 145 / 20%);
}
.bg5 {
    background: rgb(80 175 227 / 20%);
}
.fixed_bg {
    background: url(../images/login_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.box {
  width: auto;
  background-color: #e2eaec;
  color: grey;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  margin-bottom: 15px;
  border: 2px solid #9fa8b2;
  border-radius: 10px;
}

.box>i {
  font-size: 20px;
  color: #9aa8b1;
}

.box>input {
  flex: 1;
  height: 40px;
  border: none;
  outline: none;
  font-size: 15px;
  padding-left: 23px;
  color: darkgrey;
  background-color: #e2eaec;
  width: 100%;
}

::placeholder {
  color: grey;
  opacity: 1;
}

.text-themed {
    color: #3e5165 !important;
}

.text-themed {
  color: #3e5165 !important;
}
.text-small {
  font-size: 15px;
}
.btn-themed {
  background-color: #34c495;
  border: none;
  font-weight: 500;
  font-size: 15px;
  border-radius: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
 }
 .title-heading h1 {
    font-size: 38px;
    color: #3e5165;
    font-weight: 300;
}

.heading-three h1 {
    font-size: 30px;
    color: #4d4d4d;
}
.IJ-govp-logo img{
	max-width: 250px;
}
.survey_report {
    width: 1140px;
    margin:50px auto;
    max-width: 100%;
}

.SR_heading {
    background: transparent linear-gradient(to bottom, #008322 5%, #84D187 50%, #00800F 100%) repeat scroll 0% 0%;
    padding: 10px  30px;
    border-radius: 15px 15px 0 0;
    text-align: center;
}

.SR_heading h2 {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}
.SR_content {
    background: #1A2E3E;
    padding: 10px 10px;
}

.SR_txt {
    background: #fff;
    padding: 10px;
}

.SR_yearsdata {
    font-size: 21px;
    font-weight: bold;
    color: #fff;
    padding: 25px 0;
}

.SR_footer.d-flex {
    background: transparent linear-gradient(to bottom, #00B097 0%, #277189 100%) repeat scroll 0% 0%;
    font-size: 25px;
    font-weight: bold;
}
.SR_footer_col {
    width: 25%;
    padding: 25px 0px;
    text-align: center;
    color: #fff;
}
.SR_footer_col a{
	color: #fff;
}
.modal-reginsList {
    border-radius: 25px;
    width: 390px;
    background: #fff;
    overflow:hidden;
}
.reginsList{
	list-style: none;
	padding:0;
}
.reginsList li{
	background: #ebf9f4;
	margin-bottom: 4px;
	padding:10px;
	font-size:18px;
	font-weight:300;
}
.reginsList li a{
	color:#333;
}
.reginsList li a i{
	color: #34c495;
}
.warPop{
    border-radius: 25px;
    width: 390px;
    background: #fee1b9;
    overflow:hidden;
}
.warPop .modal-body{
	background: #fee1b9;
}
.btn.btn-close{
	color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
}
.userLink{
    padding-top: 24px;
    padding-bottom: 0px;
  }
@media(max-width:768px ){
	.userLink{
		text-align: center;
		margin:25px auto;
	}
}
@media(max-width:580px ){
	.nav-tabs .nav-link {
	    width: 100%;
	}
	.logo{
		margin-bottom:40px;
	}
}